// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2012 Freescale Semiconductor, Inc.
// Copyright 2011 Linaro Ltd.

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-sabresd.dtsi"

/ {
	model = "C.E. Electronics, Inc. i.MX6 Quad Elite IV";
	compatible = "fsl,imx6q-eliteiv", "fsl,imx6q";
};
